---
layout: common
---
<div class="title">{{ page.title }}</div>
{% include links.html %}

{{ content }}



<div id="disqus_thread"></div>
<script type="text/javascript">
  {% if site.server %}
  var disqus_developer = 1;
  {% endif %}
  (function() {
    var dsq = document.createElement('script');
    dsq.async = true;
    dsq.type = 'text/javascript';
    dsq.src = 'http://lanfeng.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] ||
     document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
